[submodule "includes/WjCryptLib"]
	path = includes/WjCryptLib
	url = https://github.com/WaterJuice/WjCryptLib.git
[submodule "inc/WjCryptLib"]
	path = inc/WjCryptLib
	url = https://github.com/WaterJuice/WjCryptLib.git
